{% extends 'body.html' %}
{% load static %}

{% block title %}Home Page(AS){% endblock %}
{% block link_scripts %}<link rel='stylesheet' href='{% static "css/dash.css" %}'>{% endblock %}

{% block content %}
<div class='top'>
    
    <div class='ui grid fixed'>
        <div class="three wide column">
            
        </div>
        <div class="four wide column">
            <div class='ui center aligned container shad'>
                <h1 class="js heading">LOGIN</h1>
                <form action='user/login/' method='post'>
                    {% csrf_token %}
                    <!--<span class="indiv">Username:</span>-->
                    <span class="ui input">
                    <input type='text' name='username' placeholder="Username">
                    </span>
                    <br><br>
                    <!--<span class="indiv">Password:</span>-->
                    </span>
                    <span class="ui input">
                    <input type='password' name='password' placeholder="Password">
                    </span>
                    <br><br>
                    {% if request.user.is_authenticated %}
                    <input type='submit' class='ui button green inverted' disabled>
                    <p class="error">You are Already Logged In</p>
                    {% else %}
                    <input type='submit' class='ui button green inverted' name="LOGIN" value="LOGIN">
                    {% endif %}
                    <br><br><br>
                </form>
            </div>
        </div>
        <div class="nine wide column">
            
        </div>
    </div>
    
    
    
    
    
    
    
    
  <!--  <div class='ui floatingdivs'>
        <div class='ui center aligned container'>
            <h1>Teachers LOGIN</h1>
            
        </div>
    </div>
    <div class='ui  floatingdivs'>
         <div class='ui center aligned container'>
            <h1>Students LOGIN</h1>
            
        </div>
    </div>
    -->
</div>
{% endblock %}