{% extends 'body.html' %}
{% load static %}
{% block title %}DashBoard{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="ui grid">
<div class="three wide column">
<div class="ui vertical compact menu inverted fixed" id="margin">
  <a class="teal item">
        <img class="ui circular image" src="/media/{{StudentProfile.image}}" width='150' height='150' onerror="defaultI(this)">
  </a>
  <a class="active teal item" href='/student/dashboard/profile/{{request.user.pk}}'>
    PROFILE
  </a>
  <a class="teal item" href='/student/dashboard/analysis/{{request.user.pk}}'>
    Analysis
  </a>

</div>
</div>
<div class="twelve wide column">
<div class="ui container shad">
<div class="ui raised segment container f16 shad">
  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="four wide column">
      <div class="ui white segment"><h4>User INFO:</h4></div>
      <div class="ui segment">
      <p>Username:- {{student.username}}</p>
      <p>First Name:- {{student.first_name}}</p>
      <p>Last Name:- {{student.last_name}}</p>
      </div>
    </div>
    <div class="one wide column"></div>
    <div class="four wide column">
      <div class="ui white segment"><h4>Contact INFO:</h4></div>
      <div class="ui segment">
      <p>Mobile Number:- {{StudentProfile.mobile_number}}</p>
      <p>Parent's Mobile Number:- {{StudentProfile.parents_number}}</p>
      <p>Address:- {{StudentProfile.address}}</p>
      </div>
    </div>
    <div class="one wide column"></div>
    <div class="four wide column">
      <div class="ui white segment"><h4>Academic INFO:</h4></div>
      <div class="ui segment">
        <p>Student ID:- {{StudentProfile.student_id}}</p>
        <p>Date Of Birth:- {{StudentProfile.dob}}</p>
        <p>Department:- {{StudentProfile.department}}</p>
        <p>Class:- {{StudentProfile.Class}}</p>
        <p>batch:- {{StudentProfile.batch}}</p>
        <p>Semester:- {{StudentProfile.semester}}</p>
        <p>Roll No:- {{StudentProfile.roll_no}}</p>
        <p>Subject:- {% for sub in StudentProfile.subject.all %}{{sub}},{% endfor %}</p>
      </div>
    </div>
    <div class="one wide column"></div>

  </div>
</div>
</div>
</div>
</div>
{% else %}

{% endif %}

{% endblock %}